/* 清除子元素浮动造成的父元素高度坍塌 */
.clearfix::after{
		/*添加一个内容*/
		content: "";
		/*转换为一个块元素*/
		display: block;
		/*清除两侧的浮动*/
		clear: both;
}
.tab-wrap {
	width: 500px;
	height: 500px;
	margin: 50px auto;
}
a {
	text-decoration: none;
}
.tab-top .tab-item{
	float: left;
  height: 50px;
	width: 100px;
}