.container {
  padding: 20px;
}
.btn-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url(../img/rkt.png) no-repeat 0 0/100% 100%;
  opacity: .8;
}
.btn-play {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(../img/playing.png) no-repeat 0 0/100% 100%;
  opacity: .8;
}
.btn-top:hover,.btn-play:hover{
  opacity: 1;
}
.lt {
  line-height: 30px;
}