.container .list-item {
  height: 150px;
  border-bottom: 1px solid #000;
}
.container .list-item .item-lk {
  position: relative;
  display: block;
  height: 100%;
}
.container .list-item .bk-pic {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
}
.container .list-item .bk-info {
  margin-left: 118px;
  height: 100%;
  color: #424242;
}
.container .list-item .bk-info .intro {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}
.container .list-item .bk-info p {
  margin-top: 15px;
}
.s-top-btn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url(../img/rkt.png) no-repeat 0 0/100% 100%;
  opacity: .8;
}
.s-top-btn:hover {
  opacity: 1;
}